@font-face {
  font-family: 'CocogooseProTrial';
  src: url('/fonts/Cocogoose-Pro-Bold-trial.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .font-script {
    font-family: 'Cursive', sans-serif;
  }
}

@layer components {
  .font-numbers {
    font-family: 'Inter', 'Arial', sans-serif !important;
    font-feature-settings: "tnum" 1; /* Números tabulares */
  }
  
  .price-text {
    font-family: 'Inter', 'Arial', sans-serif !important;
    font-weight: 600;
  }
}